/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.background-h1 {
  background-color: gray;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-style: bold;
  font-weight: 600;
  padding: 4px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 5px 0;
  color: #ffffff;
}

.close {
  border: 0 solid #ffffff;
}

.header-group {
  display: flex;
  justify-content: end;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.popover {
  position: absolute;
  top: 0;
  left: 0 #{"/* rtl:ignore */"};
}

.popover-arrow {
  position: absolute;
}

.tooltip {
  position: absolute;
}

.tooltip-arrow {
  position: absolute;
}
